{% extends "bootstrap/base.html" %}

{% block title %}
Credential_apply
{% endblock %}

{% block styles %}
{{super()}}
<link href="../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">e-portfolio_certificate</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/student_dashboard">Student_dashboard</a></li>
            <li><a href="/credential_editor">Credential_editor</a></li>
            <li class="active"><a href="#">Credential_apply<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ActivityTime</th>
                  <th>ActivityName</th>
                  <th>Student_id</th>
                  <th>Experience</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for user in list_content  %}
                  <tr>
                    <td>{{user.Date}}</td>
                    <td>{{user.ActivityName}}</td>
                    <td>{{user.student_id}}</td>
                    <td><a href="/review_check_url?student_id={{user.student_id}}&ActivityName={{user.ActivityName}}&Date={{user.Date}}">Link</a></td>
                    <td>aduiting</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>>
{% endblock %}